@model MRT_Demo.Models.StrategicObjective


<div class="d-flex gap-2">
    @Html.LabelFor(m => m.StrategicObjective1,new {@class = ""}):
    @Html.DisplayFor(m => m.StrategicObjective1, new { @class = "col-6" })
</div>
